<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Portal Académico</title>
<link rel="stylesheet" href="/static/css/estilos.css">
</head>

<body>

<header>
    <h2>Portal Académico</h2>
</header>

<div class="main">

<!-- REGISTRO -->
<div class="container" id="registro">
    <h2>Registro</h2>
    <input id="reg_user" placeholder="Usuario">
    <input id="reg_pass" type="password" placeholder="Contraseña">
    <button type="button" onclick="registrar()">Registrar</button>
    <p id="msg_registro"></p>
    <button type="button" onclick="mostrarLogin()">Ir a login</button>
</div>

<!-- LOGIN -->
<div class="container hidden" id="login">
    <h2>Login</h2>
    <input id="log_user" placeholder="Usuario">
    <input id="log_pass" type="password" placeholder="Contraseña">
    <button type="button" onclick="login()">Entrar</button>
    <p id="msg_login"></p>
    <button type="button" onclick="mostrarRegistro()">Crear cuenta</button>
</div>

<!-- PANEL -->
<div class="container hidden" id="panel">
    <h2>Bienvenido</h2>
    <p id="usuario_activo"></p>
    <button onclick="logout()">Cerrar sesión</button>
</div>

</div>

<script src="/static/js/script.js"></script>
</body>
</html>
